/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


:root {
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #222;
    --focus: #007bff40;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: var(--dark);
}

body {
    width: 350px;
    height: auto;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#plexDetails {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* WatchOnPlex--input-wrapper--input */
.WatchOnPlex--input-wrapper--input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.WatchOnPlex--input-wrapper--input input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.WatchOnPlex--input-wrapper--input input:focus {
    outline: none;
    border-color: var(--focus);
    box-shadow: 0 0 0 0.2rem var(--focus, 0.25);
}

.WatchOnPlex--input-wrapper--input label {
    margin: 0.5rem 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}

.WatchOnPlex--title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.WatchOnPlex--subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

/* WatchOnPlex--save-button */
.WatchOnPlex--save-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
    cursor: pointer;
}

.WatchOnPlex--save-button:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--focus);
}

.WatchOnPlex--save-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--focus, 0.25);
}

.WatchOnPlex--save-button:disabled {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 0.65;
    cursor: not-allowed;
}

/* WatchOnPlex--status-indicator  */
.WatchOnPlex--status-indicator {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border-radius: 0.25rem;
    display: none;
}

.WatchOnPlex--status-indicator.WatchOnPlex--status-indicator--success {
    color: #fff;
    background-color: var(--success);
    border-color: var(--success);
    display: block;
}

.WatchOnPlex--status-indicator.WatchOnPlex--status-indicator--error {
    color: #fff;
    background-color: var(--danger);
    border-color: var(--danger);
    display: block;
}

.WatchOnPlex--status-indicator.WatchOnPlex--status-indicator--loading {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    display: block;
}
